#cont-slajder {
	padding-top:50px; 
  max-width: 690px;
  position: relative;
  margin: auto;
  padding-bottom: 50px;
}
.slajd
{
		text-align: center;
	margin: auto;
	display: none;
}
.text
{	
	font-family: 'Dosis', sans-serif;
	position: absolute;
	top: 10px;
	left: 10px;
	color: green;
	font-size: 24px;
  width: 100%;
}
.fade {
  animation-name: fade;
  animation-duration: 3s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slajd>img
{
	position: relative;
	width: 512px;
	height: 512px;
}