input
{
    width: 15px;
    float:right;
    border-radius:18px 18px 18px 18px /20px 20px 20px 20px;
    	border: 2px solid #b50c0f;
    }
.tyt
{
    width: 150px;
    
}
table
{
	margin-top: 10px;
margin-right: 5px;
width: 700px;
}
.lewo
{
	float: left;
}
img[src="wobrazek.png"]
{
	border-radius:10%; 
	opacity: 0.5;
}
input[type="submit"]
{
	background-color: #272727;
	color: #eaeaea;
}
input[type="submit"]:hover
{
	background-color:#eaeaea ;
	color: #272727;
}